body{
    background: #3d3b46;

}
h1,h5{
    margin-top:0;
    margin-bottom:0;
    text-align: center;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textbox{
    margin-top: 2%;
    text-align: center;

}

#input{
    border-radius: 10px;
    width:36vw;
    height:2vw; 
    
}

.container{
    margin:auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #777070;
    border-radius: 25px;
    width: 37vw;
    height: 37vw;
    overflow: hidden;
}

#art{
    width: 37vw;
    height: 37vw;
    
}

.loader {
   
    
    border: 16px solid #777070;;
    border-top: 16px solid white;
    border-bottom: 16px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 1080px) {
    #input{
        width:77vw;
        height:5vw; 
    }
    .container{
        margin-top: 5%;
        width: 80vw;
        height: 80vw;
        
    }
    #art{
        width: 80vw;
        height: 80vw;
        
    }
    .image{
        padding-top: 25%;
    }
  }
